@model IEnumerable<GrudAjax.Models.Customer>

@{
  ViewData["Title"] = "Customer List";
}

<h1>@ViewData["Title"]</h1>

<p class="text-sm">
  <a asp-action="Create" class="btn btn-link">Create New</a>
</p>

<table class="table">
  <thead>
  <tr>
    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)</th>
    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().LastName)</th>
    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().EmailId)</th>
    <th>City</th>
    <th>Photo</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var item in Model)
  {
    <tr>
      <td>@item.FirstName</td>
      <td>@item.LastName</td>
      <td>@item.EmailId</td>
      <td>@item.City?.Code</td>
      <td>
        @if (!string.IsNullOrWhiteSpace(item.PhotoUrl))
        {
          <img src="@item.PhotoUrl" alt="Photo" width="50" height="50" />
        }
      </td>
    </tr>
  }
  </tbody>
</table>




